* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #282c34;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    position: relative;
}

.logo {
    height: 40px;

}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;
}

.title:hover {
    color: #61dafb;
    cursor: pointer;
}

.subtitle {
    font-size: 16px;
    font-weight: lighter;
    color: #61dafb;
}